@model Banking.ViewModels.UserPageVM
<div class="my-3 dashboard">
    <div class="d-flex justify-content-end nav-bar">
        <span class="welcome-name">Welcome, @ViewBag.Name</span>
        <div class="dropdown">
            <img src="~/images/user.png" class="user-pp dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" />
            <ul class="dropdown-menu p-0">
                <li><a class="dropdown-item" href="/Account/Logout"><b>Logout</b></a></li>
            </ul>
        </div>
    </div>
    <div class="content my-2">
        <div class="row">
            <div class="col-md col-sm col-lg col border-end ">
                <form class="border-bottom personal-info" asp-action="UpdateUserData" asp-controller="User" method="post">
                    <h4 class="border-bottom my-2 py-3 fw-bold">Personal Information ( £ @Model.UserModel.Balance )</h4>
                    <div class="my-2">
                        <span class="fw-bold">First Name :</span> <input type="text" asp-for="UserModel.FirstName" value=@Model.UserModel.FirstName />
                    </div>
                    <div class="my-2">
                        <span class="fw-bold">Middle Name :</span> <input type="text" asp-for="UserModel.MiddleName" value=@Model.UserModel.MiddleName />
                    </div>
                    <div class="my-2">
                        <span class="fw-bold">Last Name :</span> <input type="text" asp-for="UserModel.LastName" value=@Model.UserModel.LastName />
                    </div>
                    <div class="my-2">
                        <span class="fw-bold">Phone :</span> <input type="text" asp-for="UserModel.PhoneNumber" value=@Model.UserModel.PhoneNumber readonly />
                    </div>
                    <div class="my-2">
                        <span class="fw-bold">Email :</span> <input type="text" asp-for="UserModel.Email" value=@Model.UserModel.Email />
                    </div>
                    <div class="my-2">
                        <span class="fw-bold">Bank : </span>
                        <select asp-for="UserModel.BankId" class="form-control" required readonly>
                            @foreach (var bank in Model?.Banks)
                            {
                                <option value="@bank.Id" selected='@(Model?.UserModel?.BankId == bank.Id)'>@bank.Name</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-block mb-4 mt-2">Update Info</button>
                </form>

                <form class="form" asp-action="SendMoney" asp-controller="User" method="post">
                    <h4 class="border-bottom my-2 py-3 fw-bold">Send Money</h4>
                    <div class="row">
                        <div class="col-auto my-2">
                            <span class="fw-bold">To :</span> 
                            <select asp-for="TransactionVM.ReciverId" class="form-control" required>
                                <option value="" selected>Select Person</option>
                                @foreach (var usr in Model?.Users)
                                {
                                    <option value="@usr.Id">@usr.FullName</option>
                                }
                            </select>
                        </div>
                        <div class="col-auto my-2">
                            <span class="fw-bold">Amount</span> 
                            <input type="number" asp-for="TransactionVM.Amount" class="form-control" required min="1" />
                            <input type="hidden" asp-for="TransactionVM.SenderId" value="@Model.SenderId" />
                        </div>
                       
                        <div class="col-md-12 col-12 my-2">
                            <span class="fw-bold">Remarks :</span> 
                            <textarea type="text" asp-for="TransactionVM.Remarks" class="form-control" required></textarea>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary mb-4 mt-2">Send Now</button>
                </form>
            </div>
            <div class="col-md col-sm col-lg col my-transaction">
                <h4 class="border-bottom my-2 py-3 fw-bold">My Transactions</h4>
                <form class="transaction-info" asp-action="Index" asp-controller="User" method="post">
                    <div class="row">
                        <div class="form-group col-5">
                            <label for="start"> Start Date:</label>
                            <input type="date" class="form-control" asp-for="StartDate" required>
                        </div>
                        <div class="form-group col-5 ">
                            <label for="end">End Date:</label>
                            <input type="date" class="form-control" asp-for="EndDate" required>
                        </div>
                        <div class="form-group col-auto btn-search-transaction">
                            <button type="submit" class="btn btn-secondary   mx-2">
                                Go
                            </button>
                        </div>
                    </div>

                </form>
                
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Bank</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>
                            <th scope="col">Remarks</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model?.TransactionModels != null && Model.TransactionModels.Any())
                        {
                            @foreach (var trans in Model.TransactionModels)
                            {
                                <tr>
                                    <th>@trans.GetOtherUserName(Model.UserModel.Id)</th>
                                    <td>@trans.GetOtherBankName(Model.UserModel.Id)</td>>
                                    <td>@trans.Amount</td>
                                    <td>@trans.CreatedAt</td>
                                    <td>@trans.Remark</td>
                                    <td>@trans.GetStatus(Model.UserModel.Id)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="4" class="text-center">Not Found</td></tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            var NotEnoughBalance = '@TempData["NotEnoughBalance"]';
            var SendMoneyFail = '@TempData["SendMoneyFail"]';
            var SendMoneySuccessful = '@TempData["SendMoneySuccessful"]';
            if (NotEnoughBalance == 'yes') {
                showToast("Not Enough balance", "error");
            }
            if (SendMoneyFail == 'yes') {
                showToast("Send Money Failed.", "error");
            }
            if (SendMoneySuccessful == 'yes') {
                showToast("Send Money Successfully.", "Success");
            }
        });
    </script>
}
